html
  head
    title= title
    != newrelic.getBrowserTimingHeader()
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js')
  body
    h1 Hello from a container!
    h4 Environment Variables
      pre!= envs
    h4 ECS Metadata
      pre!= envMetadata
